*{
    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
    
}

body, html {
    margin: 0;
    background-image: url('https://wallpaperaccess.com/full/4742978.jpg');
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    text-align: center;
    font-size: 35px;
}

nav{
    background-color: rgb(61, 218, 230);
    height: 70px;
    width: 100%;
    box-shadow: 0 0 15px black;
}

table{
    border: 0;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

label.logo{
    color: white;
    font-size: 30px;
    line-height: 70px;
    padding: 0 60px;
    font-weight: bold;
}


.layer {
    background-color: rgba(166, 228, 233, 0.596);
    margin: auto;
    margin-top: 50px;
    padding: 120px;
    width: 50%;
    height: 60%;
    box-shadow: 0 0 15px black;
    border-radius: 10px 10px 10px 10px;
}


.content-table {
    margin-top: 50px;
    border-collapse: collapse;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    box-shadow: 0 0 15px black;
    font-size: 18px;
}

.content-table th{
    background-color: rgb(61, 218, 230);
    padding: 12px 15px;
}
  
.content-table td {
    padding: 12px 15px;
}
  
.content-table tr:nth-of-type(even) {
    background-color: #c9fafa;
}
.content-table tr:nth-of-type(odd) {
    background-color: #ffffff;
}

button{
    padding: 10px 25px;
    background-color:rgb(61, 218, 230);
    border: none;
    border-radius: 70px;
    cursor: pointer;
}

button:hover{
    transform: scale(1.1);
    transition: all .2s;
    z-index: 100;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.158);
}

a{
    position: relative;
    top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 25px;
    background-color:rgb(61, 218, 230);
    border: none;
    border-radius: 70px;
    cursor: pointer;
    text-decoration: none;
}

a:hover{
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.158);
}